$custom-colors: (
  "custom-dark": rgb(18, 18, 20),
  "custom-transparent": rgba(0, 0, 0, 0),
  // aggiungi altri colori qui
);

@use "bootstrap/scss/bootstrap";

@each $name, $color in $custom-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
}

.custom-border {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-top-left-radius: 25px;
}
