$custom-colors: (
  "custom-dark": rgb(30, 30, 30),
  "custom-transparent": rgba(0, 0, 0, 0),
  // aggiungi altri colori qui
);

@use "bootstrap/scss/bootstrap";

@each $name, $color in $custom-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
}
