@import "tailwindcss";

/* Nascondi scrollbar per Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Nascondi scrollbar per Firefox */
* {
  scrollbar-width: none;
}

/* Nascondi scrollbar per IE e Edge legacy */
* {
  -ms-overflow-style: none;
}

/* scroll naturale */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  width: 100%;
}

/* Disabilita il gesto swipe indietro/avanti con trackpad */
html,
body {
  overscroll-behavior: none;
}
